em {
    font-style: normal;
    font-weight: bold;
}
.resume {
    display: flex;
    background-color:lightslategray;
    flex-direction: column;
    box-sizing: border-box;
    /* margin-top: 25px;
    margin-left: auto;
    margin-right: auto; */
    border: 5px solid black;
    width: auto;
    height: auto;
}
.header {
    background-color:  #158ca1;
    color: rgb(236, 236, 236);
}
.logo {
    height: 25px;
    width: 25px;
}
.header-link {
color: rgb(236, 236, 236);
}
.header-link:hover {
    color: rgb(87, 87, 87);
}
.top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.zuri {
    font-size: larger;
    font-weight: bold;
}
.zuri:hover {
    zoom: 103%;
}
h1 {
    text-align: center;
    margin: 15px;
}
h2 {
    text-align: center;
    margin: 10px;
}
#contact-info{
    text-align: center;
    margin: 10px;

}
.body {
    padding: 10px;
    text-align: justify;
}
.body-links {
    color: black;
}
.body-links:hover {
    color: rgb(78, 78, 78);
}
button {
    color: #158ca1;
    background-color: white;
    border-radius: 10px;
    margin: 5px;
}
#click {
    background-color: white;
    color: #158ca1;
    font-size: large;
    font-weight: bold;
    display: none;
    text-align: center;
}