.resume {
    display: flex;
    
    flex-direction: column;
    box-sizing: border-box;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid black;
    width: 55%;
    height: 97%;
}
h1 {
    text-align: center;
    padding: 10px;
    margin: 20px;
}
H2 {
    text-align: center;
}